.header-wrapper {
  background-color: blue;
}

.banner-wrapper {
  background-color: lightblue;
}

.specials-wrapper {
  background-color: blue;
}

.testimonials-wrapper {
  background-color: lightblue;
}

.about-wrapper {
  background-color: blue;
}

.footer-wrapper {
  background-color: lightblue;
}